*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px;
}
.fa-sharp{
    width: 25px;
    cursor: pointer;
    transform: rotate(-35deg);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(8, 6, 6);
    font-size: small;
}
nav ul li a:hover{
    color: #c4b6b8;
}